.bg-transparent { background-color: transparent !important;}  
.bg-black { background-color: #22292f !important;}  
.bg-grey-darkest  { background-color: #3d4852 !important;}  
.bg-grey-darker { background-color: #606f7b !important;}  
.bg-grey-dark { background-color: #8795a1 !important;}  
.bg-grey  { background-color: #b8c2cc !important;}  
.bg-grey-light  { background-color: #dae1e7 !important;}  
.bg-grey-lighter  { background-color: #f1f5f8 !important;}  
.bg-grey-lightest { background-color: #f8fafc !important;}  
.bg-white { background-color: #ffffff !important;}  
.bg-red-darkest { background-color: #3b0d0c !important;}  
.bg-red-darker  { background-color: #621b18 !important;}  
.bg-red-dark  { background-color: #cc1f1a !important;}  
.bg-red { background-color: #e3342f !important;}  
.bg-red-light { background-color: #ef5753 !important;}  
.bg-red-lighter { background-color: #f9acaa !important;}  
.bg-red-lightest  { background-color: #fcebea !important;}  
.bg-orange-darkest  { background-color: #462a16 !important;}  
.bg-orange-darker { background-color: #613b1f !important;}  
.bg-orange-dark { background-color: #de751f !important;}  
.bg-orange  { background-color: #f6993f !important;}  
.bg-orange-light  { background-color: #faad63 !important;}  
.bg-orange-lighter  { background-color: #fcd9b6 !important;}  
.bg-orange-lightest { background-color: #fff5eb !important;}  
.bg-yellow-darkest  { background-color: #453411 !important;}  
.bg-yellow-darker { background-color: #684f1d !important;}  
.bg-yellow-dark { background-color: #f2d024 !important;}  
.bg-yellow  { background-color: #ffed4a !important;}  
.bg-yellow-light  { background-color: #fff382 !important;}  
.bg-yellow-lighter  { background-color: #fff9c2 !important;}  
.bg-yellow-lightest { background-color: #fcfbeb !important;}  
.bg-green-darkest { background-color: #0f2f21 !important;}  
.bg-green-darker  { background-color: #1a4731 !important;}  
.bg-green-dark  { background-color: #1f9d55 !important;}  
.bg-green { background-color: #38c172 !important;}  
.bg-green-light { background-color: #51d88a !important;}  
.bg-green-lighter { background-color: #a2f5bf !important;}  
.bg-green-lightest  { background-color: #e3fcec !important;}  
.bg-teal-darkest  { background-color: #0d3331 !important;}  
.bg-teal-darker { background-color: #20504f !important;}  
.bg-teal-dark { background-color: #38a89d !important;}  
.bg-teal  { background-color: #4dc0b5 !important;}  
.bg-teal-light  { background-color: #64d5ca !important;}  
.bg-teal-lighter  { background-color: #a0f0ed !important;}  
.bg-teal-lightest { background-color: #e8fffe !important;}  
.bg-blue-darkest  { background-color: #12283a !important;}  
.bg-blue-darker { background-color: #1c3d5a !important;}  
.bg-blue-dark { background-color: #2779bd !important;}  
.bg-blue  { background-color: #3490dc !important;}  
.bg-blue-light  { background-color: #6cb2eb !important;}  
.bg-blue-lighter  { background-color: #bcdefa !important;}  
.bg-blue-lightest { background-color: #eff8ff !important;}  
.bg-indigo-darkest  { background-color: #191e38 !important;}  
.bg-indigo-darker { background-color: #2f365f !important;}  
.bg-indigo-dark { background-color: #5661b3 !important;}  
.bg-indigo  { background-color: #6574cd !important;}  
.bg-indigo-light  { background-color: #7886d7 !important;}  
.bg-indigo-lighter  { background-color: #b2b7ff !important;}  
.bg-indigo-lightest { background-color: #e6e8ff !important;}  
.bg-purple-darkest  { background-color: #21183c !important;}  
.bg-purple-darker { background-color: #382b5f !important;}  
.bg-purple-dark { background-color: #794acf !important;}  
.bg-purple  { background-color: #9561e2 !important;}  
.bg-purple-light  { background-color: #a779e9 !important;}  
.bg-purple-lighter  { background-color: #d6bbfc !important;}  
.bg-purple-lightest { background-color: #f3ebff !important;}  
.bg-pink-darkest  { background-color: #451225 !important;}  
.bg-pink-darker { background-color: #6f213f !important;}  
.bg-pink-dark { background-color: #eb5286 !important;}  
.bg-pink  { background-color: #f66d9b !important;}  
.bg-pink-light  { background-color: #fa7ea8 !important;}  
.bg-pink-lighter  { background-color: #ffbbca !important;}  
.bg-pink-lightest { background-color: #ffebef !important;}  