

// SIZE
.bg-size-cover{
  background-size:cover;
}

.bg-size-contain{
  background-size:contain;
}


// POSITION

.bg-position-top-right{
  background-position:top right;
}


.bg-position-top-left{
  background-position:top left;
}


.bg-position-top-center{
  background-position:top center;
}

.bg-position-center{
  background-position:center;
}


// REPEAT
.bg-repeat-no{
  background-repeat: no-repeat;
}

// fixed 
.bg-fixed{
  background-attachment: fixed;
}



