.text-transparent { color: transparent !important;} 
.text-black { color: #22292f !important;} 
.text-grey-darkest  { color: #3d4852 !important;} 
.text-grey-darker { color: #606f7b !important;} 
.text-grey-dark { color: #8795a1 !important;} 
.text-grey  { color: #b8c2cc !important;} 
.text-grey-light  { color: #dae1e7 !important;} 
.text-grey-lighter  { color: #f1f5f8 !important;} 
.text-grey-lightest { color: #f8fafc !important;} 
.text-white { color: #ffffff !important;} 
.text-red-darkest { color: #3b0d0c !important;} 
.text-red-darker  { color: #621b18 !important;} 
.text-red-dark  { color: #cc1f1a !important;} 
.text-red { color: #e3342f !important;} 
.text-red-light { color: #ef5753 !important;} 
.text-red-lighter { color: #f9ac !important;} 
.text-red-lightest  { color: #fcebea !important;} 
.text-orange-darkest  { color: #462a16 !important;} 
.text-orange-darker { color: #613b1f !important;} 
.text-orange-dark { color: #de751f !important;} 
.text-orange  { color: #f6993f !important;} 
.text-orange-light  { color: #fd63 !important;} 
.text-orange-lighter  { color: #fcd9b6 !important;} 
.text-orange-lightest { color: #fff5eb !important;} 
.text-yellow-darkest  { color: #453411 !important;} 
.text-yellow-darker { color: #684f1d !important;} 
.text-yellow-dark { color: #f2d024 !important;} 
.text-yellow  { color: #ffed4a !important;} 
.text-yellow-light  { color: #fff382 !important;} 
.text-yellow-lighter  { color: #fff9c2 !important;} 
.text-yellow-lightest { color: #fcfbeb !important;} 
.text-green-darkest { color: #0f2f21 !important;} 
.text-green-darker  { color: #1a4731 !important;} 
.text-green-dark  { color: #1f9d55 !important;} 
.text-green { color: #38c172 !important;} 
.text-green-light { color: #51d88a !important;} 
.text-green-lighter { color: #a2f5bf !important;} 
.text-green-lightest  { color: #e3fcec !important;} 
.text-teal-darkest  { color: #0d3331 !important;} 
.text-teal-darker { color: #20504f !important;} 
.text-teal-dark { color: #38a89d !important;} 
.text-teal  { color: #4dc0b5 !important;} 
.text-teal-light  { color: #64d5ca !important;} 
.text-teal-lighter  { color: #a0f0ed !important;} 
.text-teal-lightest { color: #e8fffe !important;} 
.text-blue-darkest  { color: #12283a !important;} 
.text-blue-darker { color: #1c3d5a !important;} 
.text-blue-dark { color: #2779bd !important;} 
.text-blue  { color: #3490dc !important;} 
.text-blue-light  { color: #6cb2eb !important;} 
.text-blue-lighter  { color: #bcdefa !important;} 
.text-blue-lightest { color: #eff8ff !important;} 
.text-indigo-darkest  { color: #191e38 !important;} 
.text-indigo-darker { color: #2f365f !important;} 
.text-indigo-dark { color: #5661b3 !important;} 
.text-indigo  { color: #6574cd !important;} 
.text-indigo-light  { color: #7886d7 !important;} 
.text-indigo-lighter  { color: #b2b7ff !important;} 
.text-indigo-lightest { color: #e6e8ff !important;} 
.text-purple-darkest  { color: #21183c !important;} 
.text-purple-darker { color: #382b5f !important;} 
.text-purple-dark { color: #794acf !important;} 
.text-purple  { color: #9561e2 !important;} 
.text-purple-light  { color: #a779e9 !important;} 
.text-purple-lighter  { color: #d6bbfc !important;} 
.text-purple-lightest { color: #f3ebff !important;} 
.text-pink-darkest  { color: #451225 !important;} 
.text-pink-darker { color: #6f213f !important;} 
.text-pink-dark { color: #eb5286 !important;} 
.text-pink  { color: #f66d9b !important;} 
.text-pink-light  { color: #fa7ea8 !important;} 
.text-pink-lighter  { color: #ffbbca !important;} 
.text-pink-lightest { color: #ffebef !important;} 